body {
    background: black;
    color: white;
  }
  
  h1 {
      color: #7bfbde;
    }

  a[href] {
    color: #507CF2;
  }

  @media print {
   
    body {
      font-family: sans-serif;
      line-height: 1.5rem;
      color: black;
    }
    
    h1 {
      color: blue;
      font-size: 3rem;
    }
    
    h2 {
  color: navy;
  }
    
    a[href]::after {
    background: red;
    content: " Goes to: " attr(href);
  }
    
    
    @page {
      margin: 1in;
    }
    
  }